<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>问卷管理</title>
	<!--<link rel="stylesheet" type="text/css" href="../css/mycss.css">-->
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/Beautifus/technical-college/master/task50/css/mycss.css">

</head>
<body>
	<header>
		<span>问卷管理</span>
		<span><a href="index.html">我的问卷</a></span>
	</header>
	<div id="content">
		<ul id="header">
			<li>标题</li>
			<li>时间</li>
			<li>状态</li>
			<li>操作</li>
			<li><span style="background:orange"><a href="new.html" id="new"> + 新建</a></span></li>
		</ul>
		<div >
			<ul id="survey">
			</ul>
		</div>
		
		<ul>
			<li>
				<label for="selectall">
					<input type="radio" name="selectall">全选
				</label>
			</li>
			<li>
				<button id="delete">删除</button>
			</li>
		</ul>
	</div>
</body>
<!--
<script type="text/javascript" src="../js/data.js"></script>
<script type="text/javascript" src="../js/myscript.js"></script>-->

<script type="text/javascript" src="https://rawgit.com/Beautifus/technical-college/master/task50/js/data.js"></script>
<script type="text/javascript" src="https://rawgit.com/Beautifus/technical-college/master/task50/js/myscript.js"></script>

</html>