<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>添加新页面</title>
	<!--<link rel="stylesheet" type="text/css" href="../css/mycss.css">-->
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/Beautifus/technical-college/master/task50/css/mycss.css">
<body>
	<!--<iframe src="header.html" width="100%" height="100%" frameborder="0" scrolling="Yes"></iframe>
	<object style="border:0px" type="text/x-scriptlet" data="header.html" width="100%" height="40px">
	-->
	<header>
		<span>问卷管理</span>
		<span><a href="index.html">我的问卷</a></span>
	</header>
	<div id="content">
		<div id="titlecon">
			<span>
			<label>
				<input type="text" id="title" name="" value="这里是标题">
			</label>
			</span>
			<hr>
		</div>
		<div id="mycon"></div>
		<div id="choice">
			
		</div>
		<div id="addcon">
			<p><span id="addbutton" class="add">+ 添加问题 </span></p>
		</div>
		<div id="sava">
			<span>问卷截止日期:</span><span><input type="text"  id="cal" name=""></span>
			<button id="save">保存问卷</button>
			<button id="publish">发表问卷</button>
		</div>
	</div>
</body>
<!--
<script type="text/javascript" src="../js/data.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
-->
<script type="text/javascript" src="https://rawgit.com/Beautifus/technical-college/master/task50/js/data.js">
</script>
<script type="text/javascript" src="https://rawgit.com/Beautifus/technical-college/master/task50/js/script.js">
	
</script>
</html>
