<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>页面显示</title>
	<!--<link rel="stylesheet" type="text/css" href="../css/mycss.css">-->
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/Beautifus/technical-college/master/task50/css/mycss.css">
</head>
<body>
</html>
	<header>
		<span>问卷管理</span>
		<span><a href="index.html" target="_blank">我的问卷</a></span>
	</header>
	<div id="content">
		<div id="titlecon">
			<span>
			<label>
				<input type="text" id="title" name="" value="这里是标题">
			</label>
			</span>
			<hr>
		</div>
		<div id="mycon">
			
		</div>
	</div>
</body>
<!--<script type="text/javascript" src="../js/data.js"></script>
<script type="text/javascript" src="../js/view.js"></script>-->
<script type="text/javascript" src="https://rawgit.com/Beautifus/technical-college/master/task50/js/data.js"></script>
<script type="text/javascript" src="https://rawgit.com/Beautifus/technical-college/master/task50/js/view.js"></script>
</html>